.glitch {
  color: var(--cesa-blue);
  position: relative;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  text-shadow: -5px 0 white;
  top: 0;
  animation:
    noise-1 3s linear infinite alternate-reverse,
    glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 50.2%;
  transform: translate(-50%);
  text-shadow: -5px 0 aliceblue;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*calc((1/$steps)))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*calc((1/$steps)))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

// .animated-text-left {
//   transition: color 5s ease-in-out;

//   animation:
//     moveLeft 5s linear infinite,
//     colorChange 5s linear infinite;
// }

// @keyframes moveLeft {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }

// .animated-text-right {
//   transition: color 5s ease-in-out;

//   animation:
//     moveRight 5s linear infinite,
//     colorChange 5s linear infinite;
// }

// @keyframes moveRight {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100%);
//   }
// }

// @keyframes colorChange {
//   0% {
//     color: rgba(0, 0, 0, 0.2);
//   }
//   25% {
//     color: rgba(0, 0, 0, 0.4);
//   }
//   50% {
//     color: rgba(0, 0, 0, 0.6);
//   }
//   75% {
//     color: rgba(0, 0, 0, 0.4);
//   }
//   100% {
//     color: rgba(0, 0, 0, 0.2);
//   }
// }
