.eventpage {
  /* min-height: 100vh; */
  /* margin-bottom: 100vh; */
  background: linear-gradient(145deg, #2c77bd, #038a94, #5806b0);
}

.eventname {
  font-size: 7vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.eventdetails {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9),
    rgb(0, 0, 0)
  );
  pointer-events: none;
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-entry {
  animation: entry 1s ease-out forwards;
}
